{{ form_start(form) }}
    <div class="bloc-input">
        <label class="label password-label" for="registration_form_password">Mot de passe</label>
        <input type="password" name="password" id="password" placeholder="Mot de passe"/>
    </div> 

     <div class="bloc-input">
        {{ form_label(form.password.first, 'Mot de passe', {'label_attr' : {'class' : 'label password-label'}}) }}
        {{ form_widget(form.password.first, { label: 'Password', 'attr' : {'placeholder' : 'Mot de passe'} }) }}
    </div> 
    
    <div class="bloc-input">
        {{ form_label(form.password.second, 'Confirmer votre mot de passe', {'label_attr' : {'class' : 'label password-label'}}) }}
        {{ form_widget(form.password.second, { 'attr' : {'placeholder' : 'Confirmer votre mot de passe'} }) }}
    </div> 

    <div class="bloc-button">
        <div class="bloc-login">
            <button class="button button-login" type="submit">Envoyer</button>
        </div>
        <div class="bloc-inscription">
            <button class="button button-inscription" onclick="deleteForm()">Retour</button>
        </div>
    </div>
{{ form_end(form) }}